/* adicione a classe icon no input-wrapper para adicionar o ícone no começo */
/* adicone a classe password no input-wrapper para adicionar o ícone de visualizar a senha */

.input {
   width: 100%;
   background-color: transparent;
   border: transparent;
   font-size: 1.2rem;
   text-overflow: ellipsis;
}




.input:focus {
   border: none;
   outline: none;
}

.input::placeholder {
   color: #bdbdbd;
}

.input-wrapper {
   display: flex;
   gap: 8px;
   align-items: center;
   width: fit-content;
   border-radius: 30px;
   padding: 0.5rem 1rem;
   border: 1px solid #E6E6E6;
   background-color: #FBFBFD;
   transition: .3s ease-in-out;
   box-shadow: 0px 0px 0px 0px rgba(32, 32, 64, 0.10) inset, 
               0px 0px 1px 0px rgba(32, 32, 64, 0.10) inset, 
               0px 1px 1px 0px rgba(32, 32, 64, 0.09) inset, 
               0px 3px 2px 0px rgba(32, 32, 64, 0.05) inset, 
               0px 5px 2px 0px rgba(32, 32, 64, 0.01) inset, 
               0px 7px 2px 0px rgba(32, 32, 64, 0.00) inset;
}

.input-wrapper i {
   color: #bdbdbd;
   font-size: 1.4rem;
}

.ph-eye {
   display: none;
}

.input-wrapper.password .ph-eye {
   display: block;
}

.ph-magnifying-glass {
   display: none;
}

.input-wrapper.icon .ph-magnifying-glass {
   display: block;
}

.input-wrapper:focus-within {
   border: 1px solid var(--color-roxoEscuro) !important;
}

.ph-magnifying-glass {
   color: #bdbdbd;
   font-size: 1.2rem;
}

.wdt-100 {
   width: 100% !important;
}


.input_processo {
   width: 52%;
   background-color: transparent;
   border: transparent;
   font-size: 1.2rem;
   margin-right: 10%;
   text-overflow: ellipsis;
}



.input_processo:focus {
   border: none;
   outline: none;
}

.input_processo::placeholder {
   color: #bdbdbd;
}

.input_processo-wrapper {
   display: flex;
   gap: 4px;
   align-items: center;
   width: fit-content;
   margin-left: 10%;
   border-radius: 5px;
   padding: 0.5rem 0.6rem;
   border: 1px solid #E6E6E6;
   background-color: #FBFBFD;
   transition: .3s ease-in-out;
   box-shadow: 0px 0px 0px 0px rgba(32, 32, 64, 0.10) inset, 
               0px 0px 1px 0px rgba(32, 32, 64, 0.10) inset, 
               0px 1px 1px 0px rgba(32, 32, 64, 0.09) inset, 
               0px 3px 2px 0px rgba(32, 32, 64, 0.05) inset, 
               0px 5px 2px 0px rgba(32, 32, 64, 0.01) inset, 
               0px 7px 2px 0px rgba(32, 32, 64, 0.00) inset;
}

.input_processo-wrapper i {
   color: #bdbdbd;
   font-size: 1.4rem;
}

.ph-eye {
   display: none;
}

.input_processo-wrapper.password .ph-eye {
   display: block;
}

.ph-magnifying-glass {
   display: none;
}

.input_processo-wrapper.icon .ph-magnifying-glass {
   display: block;
}

.input_processo-wrapper:focus-within {
   border: 1px solid var(--color-roxoEscuro) !important;
}
