@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
   --color-gray-100: #F5F5F5;
   --color-gray-950: #0D0D0D;
   --color-gray-800: #252525;
   --color-purple-300: #BF80FF;
   --color-purple-500: #9747FF;
   --color-purple-700: #6D499D;
   --color-purple-800: #4E2F78;
   --color-blue-500: #439CDD;

   --font-title: "Kanit";
   --font-text: "Raleway";

   --wave-shadow: 50px -2px 4px rgba(0, 0, 0, 0.25);

   --color-coral: #F05D5E;
   --color-cobalto: #314CB6;
   --color-branco: #F5F5F5;
   --color-preto: #0D0D0D;
   --color-violeta: #9747FF;
   --color-roxo: #6D499D;
   --color-roxoEscuro: #4E2F78;
   --color-cinzaEscuro: #252525;
   --color-cinza: #E3E3E3;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
   font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-title);
}

highlight {
   color: var(--color-purple-500);
}

body::-webkit-scrollbar {
   width: 5px;
}

body::-webkit-scrollbar-track {
   background-color: var(--color-branco);
}

body::-webkit-scrollbar-thumb {
   background-color: var(--color-violeta);
   ;
   border-radius: 5px;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.item-center {
   align-items: center;
}

.content-center {
   justify-content: center;
}

.all-center {
   align-items: center;
   justify-content: center;
}

.gap-1 {
   gap: 1.5rem;
}

/* componentes */

.display-none {
   display: none;
}

.display-block {
   display: block;
}

h1 {
   font-family: var(--font-title);
}

/* dialog */
sl-dialog::part(overlay) {
   background: #0d0d0d9a;
}

sl-dialog::part(panel) {
   border-radius: 20px;
}

sl-dialog::part(title) {
   font-family: var(--font-title);
   font-style: 900;
   font-size: 2rem;
}

sl-dialog::part(body) {
   font-family: var(--font-text);
}

sl-dialog::part(close-button__base) {
   color: #0D0D0D;
}

.texto-user span {
   display: flex;
   align-self: center;
   justify-content: center;
   font-size: 20px;
   color: var(--color-gray-100);
}

#b_usuario {
   align-self: center;
   font-size: 20px;
   color: var(--color-gray-100);
}

ul {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2.3rem;
}

ul li {
   width: 10vw;
   display: flex;
   align-items: center;
   gap: 1.2rem;
   font-weight: 700;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
}

ul li img {
   width: 1.4rem;
}

.side-menu {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   width: 15%;
   height: 100vh;
   padding: 2rem 0;
   background: linear-gradient(358deg, #6D499D 18.16%, #9747FF 38.1%);   
   z-index: -2;
}

.wave-menu {
   width: 100%;
   position: absolute;
   top: -10%;
   z-index: -1;
}

.nav-list {
   position: absolute;
   top: 40%;
}

.user-profile {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
}

#pfp {
   width: 8rem;
   height: 8rem;
   background-color: #d4d4d4;
   border-radius: 50%;
}

#nome_user {
   font-weight: 700;
   font-size: 1.5rem;
   color: white;
}

a {
   text-decoration: none;
   cursor: pointer;
}

.btn {
   padding: 0.5rem 1rem;
   background-color: unset;
   border-radius: 2rem;
   border: 1px black solid;
   font-family: var(--font-title);
   font-weight: 500;
   font-size: 1.2rem;
   cursor: pointer;
}