@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
   --color-gray-100: #F5F5F5;
   --color-gray-950: #0D0D0D;
   --color-gray-800: #252525;
   --color-purple-300: #BF80FF;
   --color-purple-500: #9747FF;
   --color-purple-700: #6D499D;
   --color-purple-800: #4E2F78;
   --color-blue-500: #439CDD;

   --font-title: "Kanit";
   --font-text: "Raleway";

   --wave-shadow: 50px -2px 4px rgba(0, 0, 0, 0.25);

   --color-coral: #F05D5E;
   --color-cobalto: #314CB6;
   --color-branco: #F5F5F5;
   --color-preto: #4f2f2f;
   --color-violeta: #9747FF;
   --color-roxo: #6D499D;
   --color-roxoEscuro: #4E2F78;
   --color-cinzaEscuro: #252525;
   --color-cinza: #E3E3E3;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
   font-family: var(--font-text);
}

body {
   background-color: #f0edf5;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-title);
}

body::-webkit-scrollbar {
   width: 5px;
}

body::-webkit-scrollbar-track {
   background-color: var(--color-branco);
}

body::-webkit-scrollbar-thumb {
   background-color: var(--color-violeta);
   ;
   border-radius: 5px;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.item-center {
   align-items: center;
}

.content-center {
   justify-content: center;
}

.all-center {
   align-items: center;
   justify-content: center;
}

.gap-1 {
   gap: 1.5rem;
}

/* componentes */

.display-none {
   display: none;
}

.display-block {
   display: block;
}

h1 {
   font-family: var(--font-title);
}

/* dialog */
sl-dialog::part(overlay) {
   background: #0d0d0d9a;
}

sl-dialog::part(panel) {
   border-radius: 20px;
   width: 40vw;
}

sl-dialog::part(title) {
   font-family: var(--font-title);
   font-style: 900;
   font-size: 1.5rem;
   font-weight: bold;
}

sl-dialog::part(body) {
   font-family: var(--font-text);
}

sl-dialog::part(close-button__base) {
   color: #0D0D0D;
}

ul {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2.3rem;
}

ul li {
   display: flex;
   align-items: center;
   gap: 1.2rem;
   font-weight: 700;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
}

ul li img {
   width: 1.4rem;
}

ul li .react {
   width: 1.7rem;
}


ul li .instituicoes {
   width: 1.7rem;
}


.side-menu {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 90%;
   flex-direction: column;
   width: 4vw;
   height: 100vh;
   background: linear-gradient(358deg, #6D499D 18.16%, #9747FF 38.1%);   
   padding-block: 1.5rem;
   border-radius: 0 25px 25px 0;
}

.side-menu.dark-menu {
   background: linear-gradient(358deg, #18072e 18.16%, #602da7 80.1%);   
}

.side-menu.black-menu {
   background: linear-gradient(358deg, #0f0f0f 18.16%, #363636 38.1%);   
}

.logo-nav {
   width: 40px;
}

.wave-menu {
   width: 100%;
   height: 15%;
   position: absolute;
   z-index: -1;
}

.nav-list {
   position: absolute;
   top: 28%;
}

.nav-list img{
   width: 1.8rem;
}

a {
   text-decoration: none;
   cursor: pointer;
}

.btn {
   padding: 0.5rem 1rem;
   background-color: unset;
   border-radius: 2rem;
   border: 1px black solid;
   font-family: var(--font-title);
   font-weight: 500;
   font-size: 1.2rem;
   cursor: pointer;
}

.btn-full {
   width: 100% !important;
}

sl-tooltip::part(body) {
   background-color: #ebe7e7;
   color: #252525;
}

sl-tooltip::part(base__arrow) {
   background-color: #ebe7e7;
}