sl-select {
   width: fit-content;
   border-radius: 30px;
   background-color: #bfbfbf;
}

sl-select::part(form-control) {
   width: 12rem;
}

sl-select[multiple]::part(form-control) {
   width: fit-content;
}

sl-select::part(combobox) {
   outline: none;
   box-shadow: none;
   background-color: transparent;
}

sl-select::part(display-input) {
   width: fit-content;
   color: white;
   font-family: var(--font-title);
   text-overflow: ellipsis !important;
}

sl-select::part(display-input)::placeholder {
   color: var(--color-gray-100);
   font-family: var(--font-title);
}

sl-select::part(listbox) {
   border-radius: 12px;
   background-color: var(--color-gray-100);
}

sl-option::part(base) {
   background-color: var(--color-gray-100);
   color: #0D0D0D;
}

sl-option::part(base):hover {
   background-color: var(--color-purple-500);
   color: var(--color-gray-100);
}

sl-select::part(clear-button),
sl-select::part(expand-icon) {
   color: var(--color-gray-100);
}

sl-select[multiple]::part(tag__base) {
   background-color: var(--color-purple-700);
   border: none;
   box-shadow: inset ;
}

sl-select[multiple]::part(tag__content) {
   color: var(--color-gray-100);
   font-weight: bold;
   font-family: var(--font-text);
}

sl-select[multiple]::part(tag__remove-button){
   color: var(--color-gray-100);
}